* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #myCanvas {
    border: 5px lightgreen solid;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #mySec {
    margin: 1rem;
  }
  #mySec,
  #mySec2 {
    color: white;
    font-size: 1.5rem;
  }
  .btn-grounp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    button {
      margin-top: 1rem;
      margin-right: 2rem;
      border: none;
      font-size: 1.3rem;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
    .start-new {
      background-color: blue;
      color: white;
    }
    .game-over {
      background-color: red;
      color: white;
    }
    .pauseBtn {
      background-color: green;
      color: white;
    }
  }
}
